﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>
<body>
    @{
        var controller = ViewContext.RouteData.Values["controller"].ToString();
        var action = ViewContext.RouteData.Values["action"].ToString();
    }

    <div class="navbar navbar-fixed-top fixed-top navbar-expand-md navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Epic Movies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button"
                        class="navbar-toggle navbar-toggler"
                        data-toggle="collapse"
                        data-target="#navbarColor01"
                        aria-controls="navbarColor01"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="nav navbar-nav">
                    <li class="nav-item @(controller == "Home" ? "active" : "")">@Html.ActionLink("Genres", "Index", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item @(controller == "Movie" ? "active" : "")">@Html.ActionLink("Movies", "Index", "Movie", null, new { @class = "nav-link" })</li>
                </ul>
                @using (Html.BeginForm("Index", "Movie", FormMethod.Get,
                    new { @class = "form-inline navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        @Html.TextBox("Search", null, new {
                            @class = "form-control input-sm",
                            placeholder = "search",
                            autocomplete = "off",
                        })
                    </div>
                    <button type="submit" class="btn btn-secondary">Search</button>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
