﻿@model LB01.ViewModels.MovieEditModel

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MovieId)

    <div class="form-group">
        @Html.LabelFor(model => model.MovieImage, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 image-upload">
            @Html.EditorFor(
                model => model.MovieImage,
                new { htmlAttributes = new { @class = "form-control m-1", size = 20, list = "movie_images" } })
            @Html.ValidationMessageFor(model => model.MovieImage, "", new { @class = "text-danger" })
            <input class="m-1" type="file" name="MovieImageFile" />
            @Html.ValidationMessageFor(model => model.MovieImageFile, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MovieName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MovieName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MovieName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MovieDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MovieDescription, new { htmlAttributes = new { @class = "form-control", rows = 15 } })
            @Html.ValidationMessageFor(model => model.MovieDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ReleasedYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ReleasedYear, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReleasedYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TicketSales, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TicketSales, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TicketSales, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GenreId, "Genre", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(
                model => model.GenreId,
                selectList: Model.Genres,
                optionLabel: "Please select a genre",
                htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenreId, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<h4>Cast</h4>

<ol>
    @for (int i = 0; i < Constants.MAX_CAST_SIZE; ++i)
    {
        <li>
            <input type="hidden" name="cast.index" value="@i" />
            @Html.HiddenFor(x => x.Cast[i].ActorId)
            <div class="form-horizontal row mb-3 ml-3">
                <div class="form-group m-1 col-md-3">
                    @Html.LabelFor(x => x.Cast[i].ActorName, "Actor Name")
                    @Html.EditorFor(
                        x => x.Cast[i].ActorName,
                        new { htmlAttributes = new { @class = "form-control m-1", size = 15 } })
                    @Html.ValidationMessageFor(x => x.Cast[i].ActorName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group m-1 col-md-3">
                    @Html.LabelFor(x => x.Cast[i].ActorRole, "Role")
                    @Html.EditorFor(
                        x => x.Cast[i].ActorRole,
                        new { htmlAttributes = new { @class = "form-control m-1", size = 10 } })
                    @Html.ValidationMessageFor(x => x.Cast[i].ActorRole, "", new { @class = "text-danger" })
                </div>
                <div class="form-group m-1 col-md-4 image-upload">
                    @Html.LabelFor(x => x.Cast[i].ActorImage, "Image")
                    @Html.EditorFor(
                        x => x.Cast[i].ActorImage,
                        new { htmlAttributes = new { @class = "form-control m-1", size = 20, list = "actor_images" } })
                    @Html.ValidationMessageFor(x => x.Cast[i].ActorImage, "", new { @class = "text-danger" })
                    <input class="m-1" type="file" name="Cast[@i].ActorImageFile" />
                    @Html.ValidationMessageFor(x => x.Cast[i].ActorImageFile, "", new { @class = "text-danger" })
                </div>
            </div>
        </li>
    }
</ol>

<datalist id="movie_images">
    @foreach (var item in Model.MovieImages)
    {
        <option value="@item.Value">@item.Text</option>
    }
</datalist>
<datalist id="actor_images">
    @foreach (var item in Model.ActorImages)
    {
        <option value="@item.Value">@item.Text</option>
    }
</datalist>
