﻿@model DogAdoption.Website.Models.Dog

@{
    ViewBag.Title = "Details";

    bool isManager =
      Request.IsAuthenticated &&
      (User.IsInRole("Admin") || User.IsInRole("Manager"));

}

<h2>Details</h2>

<div>
    <h4>Dog</h4>
    <hr />
    <dl class="dl-horizontal" style="display: flex; flex-direction: row; justify-content: space-around; margin: 0 auto; width: 60%; font-size: 1.5em;">
        <div>
            <dt>
                <span>Image</span>
            </dt>

            <dd>
                @if (!string.IsNullOrWhiteSpace(Model.DogImage))
                {
                    string url = Url.Content(
                       Constants.DOGS_FOLDER_PATH +
                       Model.DogImage);
                    <img src="@url" />
                }
            </dd>

        </div>
        <div style="padding-top: 10px;">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                <span>Available</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.isAvailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Breed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Breed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
            @if (!string.IsNullOrWhiteSpace(Model.Comments))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Comments)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comments)
                </dd>
            }
        </div>

    </dl>
</div>
<p>
    @if (isManager)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.DogId }) 
        <span>|</span>
}
    @Html.ActionLink("Back to List", "Index")
</p>
