﻿@model DogAdoption.Website.ViewModels.DogSearchResults

@using PagedList.Mvc
@{
    ViewBag.Title = "Index";

    bool isManager =
      Request.IsAuthenticated &&
      (User.IsInRole("Admin") || User.IsInRole("Manager"));
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Dogs", FormMethod.Get,
    new { enctype = "multipart/form-data" }))
{

    var sortByArray = new SelectListItem[]
    {
new SelectListItem {Value = "dogNumber", Text = "Dog Number"},
new SelectListItem {Value = "dogName", Text = "Dog Name"}
    };

    <div class="mb-3">
        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { placeholder = "search" } })
        @Html.DropDownListFor(m => m.SortBy, sortByArray)

        <input class="btn btn-primary" type="submit" value="Apply" />
    </div>
}

@if (isManager)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            <span>Image</span>
        </th>
        <th>
            Breed
        </th>
        <th>
            Age
        </th>
        <th>
            <span>Available</span>
        </th>
        <th>
            Comments
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Dogs)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.DogImage))
            {
                string url = Url.Content(
                   Constants.DOGS_FOLDER_PATH +
                   Constants.THUMBNAILS_FOLDER +
                   item.DogImage);
                <img src="@url" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @if (!string.IsNullOrWhiteSpace(item.DogImage))
            {
                string url = Url.Content(
                   Constants.DOGS_FOLDER_PATH +
                   Constants.THUMBNAILS_FOLDER +
                   item.DogImage);
                <img src="@url" />
            }
        </td>
        <td>
            @if (isManager)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.DogId })
                <span>|</span>
            }
            @Html.ActionLink("Details", "Details", new { id = item.DogId })
            @if (isManager)
            {
                <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.DogId })
            }
        </td>
    </tr>
    }

</table>
<div>
    @Html.PagedListPager(
    Model.Dogs,
    page => Url.Action("Index", new
    {
        search = Model.Search,
        sortBy = Model.SortBy,
        page = page,
        itemsPerPage = Model.Dogs.PageSize,
    }),
    new PagedListRenderOptions
    {
        Display = PagedListDisplayMode.IfNeeded,
        DisplayPageCountAndCurrentLocation = true,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
        MaximumPageNumbersToDisplay = 5,
        PageCountAndCurrentLocationFormat = "Page {0} of {1}"
    })

</div>

@section scripts
{
    <script>
        $(".pagination > li").addClass("page-item");
        $(".pagination > li > a").addClass("page-link");
    </script>
}