﻿@model IEnumerable<EmployeeWebsite.Models.department>
@{
    ViewBag.Title = "Departments";
}

<h2>@ViewBag.Title</h2>

<div class="genre-list">
    <div class="card mb-3">
        <h4 class="card-header">
            @Html.ActionLink("(All)", "Index", "Employee")
        </h4>
    </div>

    @foreach (var department in Model)
    {
        <div class="card mb-3">
            <h4 class="card-header">
                @Html.ActionLink(
                    department.dept_name, "Index", "Employee",
                    routeValues: new { dept_no = department.dept_no},
                    htmlAttributes: null)
            </h4>
        </div>
    }
</div>