﻿@model DogAdoption.Website.Models.Adoption

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Adoption</h4>
    <hr />
    <dl class="dl-horizontal">
        <div style="margin: 0 auto; width: 20%; font-size: 2em; display: flex; flex-direction: column; justify-content: center;">
            <dt>
                <span>Adoption Date</span>
            </dt>
            <dd style="padding-left: 15px;">
                @Html.DisplayFor(model => model.AdoptionDate)
            </dd>

        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 auto; width: 60%; padding-top: 60px;">
            <div>
                <dt>
                    <span>Customer</span>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.Name)
                    @if (!string.IsNullOrWhiteSpace(Model.Customer.CustomerImage))
                    {
                        string url = Url.Content(
                           Constants.CUSTOMERS_FOLDER_PATH +
                           Model.Customer.CustomerImage);
                        <img src="@url" style="display: flex; justify-content: center;" />
                    }
                </dd>
            </div>
            <div>
                <dt>
                    <span>Dog</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dog.Name)
                    @if (!string.IsNullOrWhiteSpace(Model.Dog.DogImage))
                    {
                        string url = Url.Content(
                           Constants.DOGS_FOLDER_PATH +
                           Model.Dog.DogImage);
                        <img src="@url" style="display: flex; justify-content: center;" />
                    }
                </dd>
            </div>
        </div>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
