﻿@model DogAdoption.Website.Models.Adoption

@{
    ViewBag.Title = "Details";


    bool isManager =
      Request.IsAuthenticated &&
      (User.IsInRole("Admin") || User.IsInRole("Manager"));
}

<h2>Details</h2>

<div>
    <h4>Adoption</h4>
    <hr />
    <dl class="dl-horizontal">
        <div style="margin: 0 auto; width: 20%; font-size: 2em; display: flex; flex-direction: column; justify-content: center;">
            <dt>
                <span>Adoption Date</span>
            </dt>
            <dd style="padding-left: 15px;">
                @Html.DisplayFor(model => model.AdoptionDate)
            </dd>

        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 auto; width: 60%; padding-top: 60px;">
            <div>
                <dt>
                    <span>Customer</span>
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Customer.Name)
                    @if (!string.IsNullOrWhiteSpace(Model.Customer.CustomerImage))
                    {
                        string url = Url.Content(
                           Constants.CUSTOMERS_FOLDER_PATH +
                           Model.Customer.CustomerImage);
                        <img src="@url" style="display: flex; justify-content: center;" />
                    }
                </dd>
            </div>
            <div>
                <dt>
                    <span>Dog</span>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Dog.Name)
                    @if (!string.IsNullOrWhiteSpace(Model.Dog.DogImage))
                    {
                        string url = Url.Content(
                           Constants.DOGS_FOLDER_PATH +
                           Model.Dog.DogImage);
                        <img src="@url" style="display: flex; justify-content: center;" />
                    }
                </dd>
            </div>
        </div>

    </dl>
</div>
<p>
    @if (isManager)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId, dog = Model.DogId }) 
        <span>|</span>
    }
    @Html.ActionLink("Back to List", "Index")
</p>
