﻿@model DogAdoption.Website.ViewModels.AdoptionSearchResults

@using PagedList.Mvc

@{
    ViewBag.Title = "Index";

    bool isManager =
      Request.IsAuthenticated &&
      (User.IsInRole("Admin") || User.IsInRole("Manager"));

    bool isAuthorized =
      Request.IsAuthenticated &&
      (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Counselor"));
}

<h2>Adoptions</h2>
@using (Html.BeginForm("Index", "Adoptions", FormMethod.Get,
    new { enctype = "multipart/form-data" }))
{

    var sortByArray = new SelectListItem[]
    {
new SelectListItem {Value = "date", Text = "Date"},
new SelectListItem {Value = "dogName", Text = "Dog Name"},
new SelectListItem {Value = "customerName", Text = "Customer Name"}
    };

    <div class="mb-3">
        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { placeholder = "search" } })
        @Html.DropDownListFor(m => m.SortBy, sortByArray)

        <input class="btn btn-primary" type="submit" value="Apply" />
    </div>
}

@if (isAuthorized)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            <span>Adoption Date</span>
        </th>
        <th>
            <span>Customer</span>
        </th>
        <th>
            <span>Dog</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Adoptions)
    {
        <tr>
            <td>
                <span>@item.AdoptionDate.ToString("MM/dd/yyy")</span>
            </td>
            <td style="display: flex; flex-direction: column; justify-content: center;">
                <span style="padding-left: 20px;">
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                    </span>
                    @if (!string.IsNullOrWhiteSpace(item.Customer.CustomerImage))
                    {
                        string url = Url.Content(
                           Constants.CUSTOMERS_FOLDER_PATH +
                           Constants.THUMBNAILS_FOLDER +
                           item.Customer.CustomerImage);
                        <img src="@url" width="50%" />
                    }
            </td>
            <td>
                <div style="display: flex; flex-direction: column; justify-content: center;">
                    <span style="padding-left: 30px;">
                        @Html.DisplayFor(modelItem => item.Dog.Name)
                    </span>
                    @if (!string.IsNullOrWhiteSpace(item.Dog.DogImage))
                    {
                        string url = Url.Content(
                           Constants.DOGS_FOLDER_PATH +
                           Constants.THUMBNAILS_FOLDER +
                           item.Dog.DogImage);
                        <img src="@url" width="50%"  style="display: flex; justify-content: center;"/>
                    }
                </div>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId, dog = item.DogId })
                @if (isManager)
                {
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId, dog = item.DogId })
                }
            </td>
        </tr>
    }

</table>
<div>
    @Html.PagedListPager(
    Model.Adoptions,
    page => Url.Action("Index", new
    {
        search = Model.Search,
        sortBy = Model.SortBy,
        page = page,
        itemsPerPage = Model.Adoptions.PageSize,
    }),
    new PagedListRenderOptions
    {
        Display = PagedListDisplayMode.IfNeeded,
        DisplayPageCountAndCurrentLocation = true,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
        MaximumPageNumbersToDisplay = 5,
        PageCountAndCurrentLocationFormat = "Page {0} of {1}"
    })

</div>

@section scripts
{
    <script>
        $(".pagination > li").addClass("page-item");
        $(".pagination > li > a").addClass("page-link");
    </script>
}
