﻿@model DogAdoption.Website.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <span>Phone Number</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            <span>Address</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOne)
        </dd>

        @if (!string.IsNullOrWhiteSpace(Model.AddressTwo))
        {
            <dt>
                <span>Apt. #</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressTwo)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            <span>Image</span>
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.CustomerImage))
            {
                string url = Url.Content(
                   Constants.CUSTOMERS_FOLDER_PATH +
                   Model.CustomerImage);
                <img src="@url" />
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
