﻿@model DogAdoption.Website.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <span>Phone Number</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            <span>Address</span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOne)
        </dd>

        @if (!string.IsNullOrWhiteSpace(Model.AddressTwo))
        {
            <dt>
                <span>Apt. #</span>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressTwo)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            <span>Image</span>
        </dt>

        <dd>
            @if (!string.IsNullOrWhiteSpace(Model.CustomerImage))
            {
                string url = Url.Content(
                   Constants.CUSTOMERS_FOLDER_PATH +
                   Model.CustomerImage);
                <img src="@url" />
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
