﻿@model DogAdoption.Website.ViewModels.CustomerSearchResults

@using PagedList.Mvc

@{
    ViewBag.Title = "Customers";


    bool isManager =
      Request.IsAuthenticated &&
      (User.IsInRole("Admin") || User.IsInRole("Manager"));
    
}

<h2>Customers</h2>

@using (Html.BeginForm("Index", "Customers", FormMethod.Get,
    new { enctype = "multipart/form-data" }))
{

    var sortByArray = new SelectListItem[]
    {
new SelectListItem {Value = "customerNumber", Text = "Customer Number"},
new SelectListItem {Value = "customerName", Text = "Customer Name"}
    };

    <div class="mb-3">
        @Html.EditorFor(m => m.Search, new { htmlAttributes = new { placeholder = "search" } })
        @Html.DropDownListFor(m => m.SortBy, sortByArray)

        <input class="btn btn-primary" type="submit" value="Apply" />
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Address
        </th>
        <th>
            Apt. #
        </th>
        <th>
            City
        </th>
        <th>
            State
        </th>
        <th>
            Zip
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Customers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressTwo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @if (!string.IsNullOrWhiteSpace(item.CustomerImage))
                {
                    string url = Url.Content(
                       Constants.CUSTOMERS_FOLDER_PATH +
                       Constants.THUMBNAILS_FOLDER +
                       item.CustomerImage);
                    <img src="@url" />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CustomerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CustomerId })
                @if (isManager)
                {
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.CustomerId })
                }

            </td>
        </tr>
    }

</table>

<div>
    @Html.PagedListPager(
    Model.Customers,
    page => Url.Action("Index", new
    {
        search = Model.Search,
        sortBy = Model.SortBy,
        page = page,
        itemsPerPage = Model.Customers.PageSize,
    }),
    new PagedListRenderOptions
    {
        Display = PagedListDisplayMode.IfNeeded,
        DisplayPageCountAndCurrentLocation = true,
        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
        MaximumPageNumbersToDisplay = 5,
        PageCountAndCurrentLocationFormat = "Page {0} of {1}"
    })

</div>

@section scripts
{
    <script>
        $(".pagination > li").addClass("page-item");
        $(".pagination > li > a").addClass("page-link");
    </script>
}