﻿@model System.Collections.Generic.IEnumerable<LB01.Models.Genre>
@{
    ViewBag.Title = "Genres";
}

<div class="jumbotron">
    <h1>Epic Movies</h1>
    <img src="@Url.Content("~/Content/movie.jpg")" 
         class="rounded-circle"
         width="350" height="350" />
</div>

<h2>@ViewBag.Title</h2>

<div class="genre-list row col-md-12">
    <div class="card m-2 col-md-3 col-lg-2 align-items-center">
        <h4 class="card-body">
            <a href="@Url.Action("Index", "Movie")" class="center">(All)</a>
        </h4>
    </div>

    @foreach (var genre in Model)
    {
        string url = Url.Action("Index", "Movie", new { GenreId = genre.GenreId });

        <div class="card m-2 col-md-3 col-lg-2 align-items-center">
            <h4 class="card-body">
                @if (!String.IsNullOrWhiteSpace(genre.GenreImage))
                {
                    <a href="@url" class="center"
                       ><img src="@Url.Content(Constants.GENRE_IMAGE_PATH + genre.GenreImage)" 
                             alt="@genre.GenreName"
                             class="center"/></a>
                }
                <a href="@url" class="center">@genre.GenreName</a>
            </h4>
        </div>
    }
</div>
