﻿@{ 
    bool isAuthorized =
      Request.IsAuthenticated &&
      (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Counselor"));
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top fixed-top navbar-expand-md navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Dog Adoptions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle navbar-toggler" data-toggle="collapse" data-target="#navbarColor01"
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Adoptions", "Index", "Adoptions", null,
                   new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Dogs", "Index", "Dogs", null,
                   new { @class = "nav-link" })
                    </li>
                    @if (isAuthorized)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Customers", "Index", "Customers", null,
                       new { @class = "nav-link" })
                        </li>
                    }
                </ul>
                @using (Html.BeginForm("Index", "Adoptions", FormMethod.Get,
               new { @class = "form-inline navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        @Html.TextBox("Search", null,
                       new {@class = "from-control", @placeholder = "Search"})
                    </div>
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
