﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom tweaks */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
html {
    margin-top: 3em;
}
.body-content {
    animation: fadeIn 1s;
}
.navbar .navbar-brand {
    font-size: 2em;
}
.navbar ::placeholder,
.body-content ::placeholder {
    opacity: 0.5;
}
.center {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
