﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="display: flex; justify-content: center; height: 800px;">
   <img src="~/Content/Images/logo.png" alt="Logo" width="100%"/>
</div>
