﻿@model LB01.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this movie?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleasedYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasedYear)
        </dd>

        @if (Model.TicketSales != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.TicketSales)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketSales)
            </dd>
        }

        <dt>
            Genre
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
