﻿@model LB01.ViewModels.MovieRatingEdit

@{
    ViewBag.Title = "Details";

    bool isAuthor =
        Request.IsAuthenticated &&
        (User.IsInRole("Admin") || User.IsInRole("Auther"));

    bool isReviewer =
        Request.IsAuthenticated &&
        (User.IsInRole("Reviewer"));


}

<div class="row col-md-12">
    @if (!String.IsNullOrWhiteSpace(Model.MovieImage))
    {
        <div class="col-md-6 mb-3">
            <img src="@Url.Content(Constants.MOVIE_IMAGE_PATH + Model.MovieImage)" 
                 alt="@Model.MovieName"
                 class="center"/>
        </div>
    }

        <div class="col-md-6 mb-3">
            <h2>@Html.DisplayFor(model => model.MovieName)</h2>
            <div class="mb-3">@Html.DisplayFor(model => model.MovieDescription)</div>
            <div>@String.Format("Released in {0}", Model.ReleasedYear)</div>
            <div>@String.Format("Ticket Sales: {0:C}", Model.TicketSales)</div>
            <div>@String.Format("Genre: {0}", Model.Genre.GenreName)</div>

            <div style="display: flex; justify-content: space-between; flex-direction: row;">
                <p>Average Rating:</p>
                @{ double avgRating = Model.AverageRating; }
                @if (avgRating > 4.75d)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                }
                else if (avgRating > 4.25)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-a"></i><i class="fas fa-star-half-alt"></i>
                }
                else if (avgRating > 3.75)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                }
                else if (avgRating > 3.25)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                }
                else if (avgRating > 2.75)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if (avgRating > 2.25)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if (avgRating > 1.75)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if (avgRating > 1.25)
                {
                    <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if (avgRating > .75)
                {
                    <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if (avgRating > .25)
                {
                    <i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                }
                else if (avgRating < .25)
                {
                    <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i>
                }
            </div>

            @if (isReviewer)
            {
                using (Html.BeginForm("AddingRating", "Movie", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div style="display: flex; justify-content: flex-start;">
                        <p>Your Rating:</p>
                        @Html.HiddenFor(m => m.MovieId)
                        @Html.EditorFor(m => m.MovieRating)
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                }
            }

            @if (Model.Cast.Any())
            {
                <h4>Cast</h4>
                foreach (var actor in Model.Cast)
                {
                    <div class="m-2">
                        <img src="@Url.Content(Constants.ACTOR_IMAGE_PATH + actor.ActorImage)"
                             alt="@actor.ActorName" />
                        <span>@actor.ActorName</span>
                        <span>(@actor.ActorRole)</span>
                    </div>
                }
            }

        </div>
</div>

<p>
    @if (isAuthor)
    {
    <span>@Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |</span> 
    }
    @Html.ActionLink("Back to List", "Index")
</p>
