﻿@model LB01.ViewModels.MovieSearchResults
@using PagedList.Mvc;

@{
    ViewBag.Title = "Movies";

    bool isAuthor =
        Request.IsAuthenticated &&
        (User.IsInRole("Admin") || User.IsInRole("Auther"));
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Movie", FormMethod.Get))
{
    var genres = new SelectList(Model.Genres, "GenreId", "GenreName");
    var sortByArray = new SelectListItem[]
    {
        new SelectListItem { Value = "name", Text = "Name" },
        new SelectListItem { Value = "year", Text = "Year" },
        new SelectListItem { Value = "genre", Text = "Genre" },
    };
    var sortByList = new SelectList(sortByArray, "Value", "Text");

    <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Filters</div>
        <div class="card-body form-group row">
            <div class="col-md-3">
                @Html.HiddenFor(x => x.Search)
                @Html.LabelFor(x => x.GenreId)
                @Html.DropDownListFor(x => x.GenreId, genres, "(All)", htmlAttributes: new { @class = "form-control input-sm" })
            </div>
            <div class="col-md-4">
                <label for="MinYear">Release Year</label>
                <div class="row">
                    <div class="col-md-6">
                        @Html.EditorFor(x => x.MinYear, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "min" } })
                    </div>
                    <div class="col-md-6">
                        @Html.EditorFor(x => x.MaxYear, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "max" } })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="SortBy">Sort By</label>
                @Html.DropDownListFor(x => x.SortBy, sortByList, htmlAttributes: new { @class = "form-control input-sm" })
            </div>
            <div class="col-md-1">
                <label>&nbsp;</label>
                <input class="btn btn-primary align-bottom" type="submit" value="Apply" />
            </div>
        </div>
    </div>
}

<table class="movie-list table">
    <tr class="bg-secondary">
        <th>Name</th>
        <th>Year</th>
        <th>Ticket Sales</th>
        <th>Genre</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Results)
    {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { id = item.MovieId })">
                @Html.DisplayFor(x => item.MovieName)
            </a>
        </td>
        <td>
            @Html.DisplayFor(x => item.ReleasedYear)
        </td>
        <td>
            @Html.DisplayFor(x => item.TicketSales)
        </td>
        <td>
            @Html.DisplayFor(x => item.Genre.GenreName)
        </td>
        @if (isAuthor)
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
            </td>
        }
        else
        {
            <td></td>
        }
        </tr>
    }

</table>
@if (isAuthor) {
<div class="float-right">
    @Html.ActionLink("Create Movie", "Create", null, new { @class = "btn btn-outline-primary" })
</div>
}
<div>
    @Html.PagedListPager(
        Model.Results,
        page => Url.Action("Index", new
        {
            Search = Model.Search,
            GenreId = Model.GenreId,
            MinYear = Model.MinYear,
            MaxYear = Model.MaxYear,
            SortBy = Model.SortBy,
            Page = page,
            ItemsPerPage = Model.Results.PageSize,
        }),
        new PagedListRenderOptions {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 5,
            PageCountAndCurrentLocationFormat = "Page {0} of {1}"
        }
    )
</div>

@section scripts
{
    <script>
        $(".pagination > li").addClass("page-item");
        $(".pagination > li > a").addClass("page-link");
    </script>
}

