﻿@model EmployeeWebsite.Models.employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="row col-md-12">
    <div class="col-md-6 mb-3">
        <h2>View Employee</h2>
        <div>@String.Format("Employee # {0}", Model.emp_no)</div>
        <div>@String.Format("First Name {0}", Model.first_name)</div>
        <div>@String.Format("Last Name {0}", Model.last_name)</div>
        <div>@String.Format("Hire Date {0}", Model.hire_date)</div>
        <div>@String.Format("Birth Date {0}", Model.birth_date)</div>
        <div>@String.Format("Gender {0}", Model.gender)</div>
    </div>
    
    @if (!String.IsNullOrWhiteSpace(Model.employee_image))
    {
        <div class="col-md-6 mb-3">
            <img src="@Url.Content(Constants.EMPLOYEE_IMAGE_PATH + Model.employee_image)"
                 alt="@Model.employee_image"
                 class="center"/>
        </div>
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.emp_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
