﻿@model EmployeeWebsite.ViewModels.EmployeeSearchResults
@using PagedList.Mvc;

@{
    ViewBag.Title = "Test";

    bool isHR =
        Request.IsAuthenticated &&
        (User.IsInRole("HR"));

    //bool isHRandAdmin =
    //    Request.IsAuthenticated &&
    //    (User.IsInRole("HR") || User.IsInRole("Admin"));
}

<h2>Test</h2>

@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{
    var departments = new SelectList(Model.Departments, "dept_no", "dept_name");

    var sortByArray = new SelectListItem[]
    {
new SelectListItem { Value = "employeeNumber", Text = "Employee Number" },
new SelectListItem { Value = "lastName", Text = "Last Name"},
new SelectListItem { Value = "firstName", Text = "First Name"},
new SelectListItem { Value = "hireDate", Text = "Hire Date"},
new SelectListItem { Value = "department", Text = "Department"}
    };
    var sortByList = new SelectList(sortByArray, "Value", "Text");

    <div class="mb-3">
        @Html.DropDownListFor(model => model.DepartmentId, departments, "(All)")
        <label for="minYear">  Hire Year</label>
        @Html.EditorFor(model => model.MinYear, new { htmlAttributes = new { placeholder = "min" } })
        @Html.EditorFor(model => model.MaxYear, new { htmlAttributes = new { placeholder = "max" } })
        <label for="sortBy">  Sort By</label>
        @Html.DropDownListFor(model => model.SortBy, sortByList)
        @Html.EditorFor(model => model.Search, new { htmlAttributes = new { placeholder = "search" } })
        <input class="btn btn-primary" type="submit" value="Search" />
    </div>
}
@if (isHR)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <p></p>
}

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>

        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Hire Date
        </th>
        <th>
            Department
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Results)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.emp_no)
            </td>
            <td>
                @if (!String.IsNullOrWhiteSpace(item.employee_image))
                {
                    string url = Url.Content(
                        Constants.EMPLOYEE_IMAGE_PATH +
                        Constants.THUMBNAIL_FOLDER_NAME +
                        item.employee_image);
                    <img src="@url" width="100"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hire_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dept_name)
            </td>
            @if (isHR)
            {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.emp_no }) |
                @Html.ActionLink("Details", "Details", new { id = item.emp_no }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.emp_no })
            </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>

<div>
    @Html.PagedListPager(
    Model.Results,
    page => Url.Action("Index", new
    {
        Search = (object)ViewBag.Search,
        DepartmentId = (object)ViewBag.DepartmentId,
        MinYear = (object)ViewBag.MinYear,
        MaxYear = (object)ViewBag.MaxYear,
        SortBy = (object)ViewBag.SortBy,
        Page = page,
        ItemsPerPage = Model.Results.PageSize,
    }),
        new PagedListRenderOptions
        {
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true,
            MaximumPageNumbersToDisplay = 5,
            PageCountAndCurrentLocationFormat = "Page {0} of {1}"
        }
    )
</div>

@section scripts
{
    <script>
        $(".pagination > li").addClass("page-item");
        $(".pagination > li > a").addClass("page-link");
    </script>
}