﻿@{
    ViewBag.Title = "Upload";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        <input type="file" name="myfile" />
        <input type="submit" value="Upload" />
        @Html.ValidationSummary(excludePropertyErrors: false)
        <span>@ViewBag.Message</span>
    </div>
}
